@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.navbar {
  position: relative;
  display: flex;
  align-items: center;
}

#title {
  width: 100%;
  background-color: #ff4c68;
  padding: 0rem 13.2rem;
  padding-top: 4rem;
  padding-bottom: -8rem;
  color: #fff;
}

.container-fluid {
  padding-bottom: 4rem;
}


#title .navbar .container-fluid .navbar-brand {
  font-size: 2.6rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 450px;
  font-style: normal;
}

#title .navbar .container-fluid .navbar-nav {
  font-size: 19px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 950;
  font-style: normal;
  display: flex;
  gap: 30px;
}


#title #headline {
  background-color: #ff4c68;
  display: flex;
  justify-content: space-between;
}




#title #headline #headline-info h2 {
  width: 65%;
  font-weight: bolder;
  font-size: 3.4rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  font-style: normal;
}


@media (max-width: 1028px) {
  #headline-info h2 {
    text-align: center;
    color: #fff;
  }
}


#title #headline #image {
  width: 35%;
}

#title #headline #image img {
  padding-top: 35px;
  width: 60%;
  rotate: 25deg;
  border-style: none;
  overflow: hidden;
}

@media (max-width: 1028px) {
  #image img {
    position: static;
    transform: rotate(0);
    width: 60%;
    vertical-align: middle;
    border-style: none;
  }
}

#card {
  width: 100%;
  text-align: center;
  padding: 10rem 10rem;
  border: none;
  display: flex;
  justify-content: space-evenly;
}

#card a {
  color: #f96d7b;
  font-size: 6rem;
  padding-bottom: 100px;
}

#card h5 {
  font-size: 25px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900px;
  font-style: normal;
}

#card p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
}

#sell {
  padding: 4rem 7rem;
  width: 100%
}

#sell #sell-heading {
  text-align: center;
  font-size: 32px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
}


#sell #sell-sub {
  text-align: center;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
  padding-bottom: 40px;
}

#sell #sell-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

#sell #sell-info #box #sell-header {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
}

#sell #sell-info #box h5 {
  font-size: 30px;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
}

#sell #sell-info #box p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
}


#contacts {
  height: 450px;
  width: 100%;
  background-color: #f95969;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.2rem 13.2rem;
}

#contacts #cont-info h1 {
  color: #fff;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bolder;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 950px;
  font-style: normal;
  padding-bottom: 30px;
}


#finalpage {
  padding: 4rem 35rem;
  height: 600px;
  width: 100%;
}

#finalpage #final-info {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5rem;

}

#finalpage #final-heading {
  color: black;
  text-align: center;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
line-height: 1.5;
}

